header{
color:blue;
}

p{
color:black;
}
a:link{
color:black;
}

a:visited{
color:blue;
}
legend:hover{
color:green;
}

legend:active{
color:gray;
}

input:focus{
color:blue;
}

h1:hover{
color:blue;
}

h1:active{
color:yellow;
}

li:first-child {
background:yellow;
}

li:nth-child(2n) {
background:purple;
}
